@page "/jobs/{id:long}"
@inject ApiService<JobDto> JobViewService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<h3 class="display-4 text-center my-2">Job Details</h3>

@if (job == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="d-flex justify-content-center"> 
        <div class="job-card rounded-row w-50">
            <table class="job-details-table"> 
                <tr>
                    <th><i class="bi bi-building"></i> Company:</th>
                    <td>@job.CompanyName</td>
                </tr>
                @if (job.Salary != null)
                {
                    <tr>
                        <th><i class="bi bi-cash-coin"></i> Salary:</th>
                        <td>@job.Salary</td>
                    </tr>
                }
                <tr>
                    <th><i class="bi bi-file-earmark-text"></i> Contract Type:</th>
                    <td>@job.ContractType</td>
                </tr>
                <tr>
                    <th><i class="bi bi-laptop"></i> Work Model:</th>
                    <td>@job.WorkModel</td>
                </tr>
                <tr>
                    <th><i class="bi bi-card-text"></i> Description:</th>
                    <td>@job.Description</td>
                </tr>
                <tr>
                    <th><i class="bi bi-geo-alt"></i> Location/s:</th>
                    <td>
                        @foreach (var locationName in job.LocationNames)
                        {
                            <span>@locationName</span> <br />
                        }
                    </td>
                </tr>
                <tr>
                    <th><i class="bi bi-bookmark-check"></i> Category/ies:</th>
                    <td>
                        @foreach (var categoryName in job.CategoryNames)
                        {
                            <span>@categoryName</span> <br />
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
}

@code {
    [Parameter]
    public long Id { get; set; }

    private JobDto job;

    protected override async Task OnInitializedAsync()
    {
        job = await JobViewService.GetEntityById(Id);
        if(job == null)
        {
            NavigationManager.NavigateTo("/");
        }
    }
}